<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
<form action="/user/api/login" method="post">
    <h4>登录</h4>
    <label>
        <input type="text" name="username" required class="name">
    </label>
    <br>
    <label>
        <input type="password" name="password" required class="pwd" data-key="{{key}}">
    </label>
    <br>
    <input type="button" value="登录" class="btn">
</form>
<a href="/back/register">去注册</a>
<script src="js/md5.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const btn = document.querySelector(".btn");

    btn.onclick = () => {
        const nameDom = document.querySelector(".name");
        const name = nameDom.value;
        const pwd = document.querySelector(".pwd");
        const key = pwd.getAttribute("data-key");
        const pwdVal = md5(pwd.value + key);
        console.log(pwdVal);
        // const form = new FormData();   这里不需要，因为后台不需要用formidable处理
        // form.append("username", name);
        // form.append("password", pwdVal);
        axios({
            url: "/user/api/login",
            data: `username=${name}&password=${pwdVal}`,
            method: "post"
        }).then(res => {
            console.log(res.data);
            const {status, result, token} = res.data;
            if (status === 200) {
                sessionStorage.setItem("user", token);
                alert(result + "正在跳转，，，");
                setTimeout(
                    () => {
                        window.location.href = `/back/user_center/${token}`;
                    }, 1000
                );
            } else {
                status === 2 && (nameDom.value = "");
                pwd.value = "";
                alert(result);
            }
        });
    };
</script>
</body>
</html>