<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>roll</title>
</head>
<body>
<header>
    轮播图添加
</header>
<form action="/imgs/api/roll/add" method="post" class="form" enctype="multipart/form-data">
    <label>
        <input type="text" required name="img_title">
    </label>
    <br>
    <label>
        <input type="text" required name="img_link">
    </label>
    <br>
    <label>
        <input type="file" required name="img_url" class="upload">
    </label>
    <br>
    <label>
        创建时间
        <input type="date" required name="createdAt">
    </label>
    <br>
    <input type="submit" value="提交">
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // const ajax = (url, method, ...rest) => {
    //     return axios(
    //         {
    //             method,
    //             url,
    //             baseURL:'localhost:3000',
    //             ...rest
    //         }
    //     )
    // };
    // var upload = document.querySelector(".upload");
    // var form = document.querySelector(".form");
    // upload.addEventListener("change", function () {
    //     console.log(upload.files, 222,new FormData(form));
    //     ajax(
    //         'imgs/api/roll/add',
    //         'post',
    //         {
    //             data:new FormData(form),
    //             contentType:false
    //         }
    //     ).then(
    //         res=>{
    //             console.log(res);
    //             return res
    //         }
    //     ).catch(
    //         e=>{throw e}
    //     );
    //
    // });
</script>
</body>
</html>