<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sources</title>
    <style>
        .active {
            color: red;
        }
    </style>
</head>
<body>
<h4>Soureces</h4>
<table>
    <thead>
    <tr>
        <td>序号</td>
        <td>标题</td>
        <td>作者</td>
        <td>缩略图</td>
        <td>是否收藏</td>
        <td>价格</td>
        <td>操作</td>
        <td>
            <a href="/back/source/add">去添加</a>
        </td>
    </tr>
    </thead>

    <tbody class="lists">
    </tbody>
</table>
<div class="btns">

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let current = 1;
    let lock;
    let pageCount;
    let pageSize = 2;
    const $ = str => document.querySelector(str);
    const btnBox = $(".btns");
    const initBtns = (pageSize) => {

        axios.get("/source/api/count").then(
            res => {
                if (res.data.status === 200) {
                    pageCount = Math.ceil(res.data.count / pageSize);
                    console.log(pageCount, "yeshu", current);
                    let html = "";
                    for (let i = current - 2 >= 0 ? current - 2 : 0; i < (current + 2 > pageCount ? pageCount : current + 2); i++) {
                        html += `
                            ${
                            current === i + 1 ?
                                "<button class=\"btn active\" disabled>" :
                                "<button class=\"btn\" >"
                            }
                             ${i + 1}</button>
                        `;
                    }
                    btnBox.innerHTML = `
                        ${
                        current === 1 ?
                            "<button class=\"btn first\" disabled>" :
                            "<button class=\"btn first\" >"
                        }

                            首页
                     </button>
                     ${
                        current === 1 ?
                            "<button class=\"btn last\" disabled>" :
                            "<button class=\"btn last\" >"
                        }
                                上一页
                            </button>
                    ` + html + `
                    ${
                        current === pageCount ?
                            "<button class=\"btn next\" disabled>" :
                            "<button class=\"btn next\" >"
                        }
                                            下一页
                                            </button>
                                           ${
                        current === pageCount ?
                            "<button class=\"btn end\" disabled>" :
                            "<button class=\"btn end\" >"
                        }
                                        尾页
                                        </button>
                    `;
                }
            }
        );
    };

    const initEvents = () => {
        const btns = document.querySelectorAll(".btn");
        console.log(btns);
        btns.forEach(
            btn => btn.onclick = () => {
                console.log(1);
                if (lock) return;
                lock = true;

                if (btn.classList.contains("first")) {
                    current = 1;
                    initBtns(pageSize);
                } else if (btn.classList.contains("last")) {
                    current -= 1;
                    initBtns(pageSize);
                } else if (btn.classList.contains("next")) {
                    current += 1;
                    initBtns(pageSize);
                } else if (btn.classList.contains("end")) {
                    current = pageCount;
                    initBtns(pageSize);
                } else {
                    current = +btn.innerText;
                    initBtns(pageSize);
                }

                ajax(pageSize, current).then(
                    () => {
                        lock = false;
                    }
                );
            }
        );
        const deletes = document.querySelectorAll(".delete");
        console.log(deletes);
        deletes.forEach(
            btn => btn.onclick = () => {
                console.log(1);
                axios({
                    url: btn.getAttribute("data-url"),
                    method: "get"
                }).then(
                    res => {
                        console.log(res);
                        if (res.data && res.data.status === 200) {
                            alert("delete success!!");
                            window.location.reload();
                            console.log("delete");
                        }
                    }
                );
            }
        );
    };

    const ajax = (count, page) => axios({
        url: `/back/source/lazy?count=${count}&page=${page}`,
        method: "get"
    }).then(
        res => {
            console.log(res);
            if (res.data && res.data.status === 200) {
                $(".lists").innerHTML = listsDom(res.data.lists);
            }
        }
    ).then(
        () => {
            setTimeout(
                () => {initEvents();}, 500
            );
        }
    );


    const listsDom = lists => {
        let html = "";
        lists.map(
            (list, index) => html +=
                `
                <tr>
                    <td>${index}</td>
                                    <td>${list.title}</td>
                                    <td>${list.author}</td>
                                    <td>
                                        <a href="${list.link}">
                                            <img src="${list.img_url}" alt="img" style="width: 100px;">
                                        </a>
                                    </td>
                                    <td>${list.is_store}</td>
                                    <td>${list.price}</td>
                                    <td>
                                        <a href="/back/source/edit/${list.id}">编辑</a>
                                        <button data-url="/source/api/delete/${list.id}" class="delete">删除</button>
                                    </td>
                                </tr>
                            `
        );
        return html;
    };


    //初始化
    initBtns(pageSize);
    ajax(pageSize, current);


</script>
</body>
</html>