<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user set</title>
</head>
<body>
<form action="/user/api/set_pwd/:id" method="post">
    <label>
        原密码:
        <input type="text" name="password"  class="pwd1">
    </label>
    <br>
    <label>
        新密码:
        <input type="text" name="password"  class="pwd2">
    </label>
    <br>


    <label>
        请再次输入新密码 :
        <input type="password" name="password" class="pwd3">
    </label>
    <br>

    <input type="button" value="提交" class="btn">
</form>
<script >

</script>
</body>
</html>